<div class="top-page">
  <% unless user_signed_in? %>
    <p><%= link_to "ゲストとしてログイン", guest_new_path, class: "btn btn-info guest-login" %></p>
  <% end %>
  <%= link_to "対戦ルーム作成", new_room_path, remote: true, class: "need-login btn btn-lg btn-primary" %>
  <%= link_to "遊び方", about_path, remote: true, class: "btn btn-lg btn-info" %>
  <%= link_to "デモ動画", "https://youtu.be/E1hvZuW9m7U", class: "btn btn-lg btn-danger", target: ["_blank"] %>
  <p class="fukidashi">ログインが必要です</p>
  <div class="row">
    <div class="col-sm-6">
      <div class="box rooms-box">
        <h3>対戦待ちルーム</h3>
        <div class="rooms">
          <%= "対戦待ちのルームはありません。" if @rooms.size == 0 %>
          <% @rooms.each do |room| %>
          <li>
            <%= gravatar_for room.owner, size: 30 %>
            <%= link_to room.owner.name, room.owner %>
            <%= link_to "ルーム#{room.id}", edit_room_path(room), class: "cover-link", remote: true  %>
            <%= link_to "ルーム#{room.id}", edit_room_path(room), remote: true  %>
            <% if room.has_password? %>
              <span>
                <i class="material-icons rotate" style="margin-right:-5px" >vpn_key</i>
                パスワード
              </span>
            <% end %>
            <% if room.only_friends? %>
              <span>
                <%= mi.group %>
                友達限定
              </span>
            <% end %>
            <% if user_signed_in? && room.owner == current_user %>
              <%= link_to "削除する", "/rooms/#{room.id}", method: :delete, data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </li>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box online_users-box">
        <%= will_paginate @online_users, inner_window: 1, outer_window: 0 %>
        <h3>ログイン中のユーザー</h3>
        <div class="online_users">
          <%= "ログイン中のユーザーはいません。" if @online_users.size == 0 %>
          <% @online_users.each do |user| %>
            <li>
              <%= gravatar_for user, size: 30 %>
              <%= link_to user.name, user, class: "cover-link" %>
              <%= link_to user.name, user %>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-frame" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>

<script type="text/javascript">
  $.ajax({
    type: 'GET',
    url: 'ad_request',
    success: function(response){
      $('.top-page').after(response);
    }
  });
</script>
<% unless user_signed_in? %>
  <script type="text/javascript">
    $(function(){
      $('.need-login')
        // クリックを無効化
        .click(function(){
          return false;
        })
        // カーソルの位置に吹き出しを表示
        .mousemove(function(e){
          $('.fukidashi').css({
            'display': 'block',
            'top': e.clientY - 70,
            'left': e.clientX - 20
          });
        })
        // 吹き出しを非表示に
        .mouseout(function(){
          $('.fukidashi').css({
            'display': 'none',
          });
        });
    });
  </script>
<% end %>
