<!DOCTYPE html>
<html>
  <head>
    <title>ネットでオセロ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="flash_messages">
        <%= render '/layouts/flash_messages' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>

<script type="text/javascript">
  $(".flash_messages").click(function(){
    $(".flash_messages >").fadeOut("fast");
  });
</script>
