<div class="edit-user">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>ユーザー情報更新</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'users/shared/error_messages', object: f.object %>

        <div class="gravatar_edit">
          <%= gravatar_for resource, size: 60 %>
          <a href="http://gravatar.com/emails" target="_blank" rel="noopener">アイコンを変更する</a>
        </div>

        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "新しいパスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "新しいパスワード（確認）" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :current_password, "現在のパスワード" %>
        <%= f.password_field :current_password, class: 'form-control' %>
        <div class="btn-line">
          <%= f.submit "更新する", class: "btn btn-primary" %>
          <%= link_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
